<!DOCTYPE html>
<html lang="en">
<head>
  {% load bootstrap5 %}
  <title>{% block 'title' %}{% endblock 'title' %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
  <style>
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 120px;
  }
  </style>
</head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
        <!-- Container (Contact Section) -->
        <div id="contact" class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="h3">{{ company.name }}</p>
                    <p>Address: {{ company.address }}</p>
                    <p>Phone: {{ company.phone }}</p>
                    <p>Email: {{ company.email }}</p>
                </div>
                <div class="col-md-6">
                    {% block 'content' %}{% endblock 'content' %}
                </div>
            </div>
        </div>
        <footer class="text-center">
            {% if company.logo %}
            <picture>
                <img src="{{ company.logo.url }}" class="img-fluid img-thumbnail" alt="{{ company.name }}" style="width: 100px;height:50px;">
            </picture>
            {% endif %}
            <p> © 2026 {{ company.name }} . Built with Django & Bootstrap 5 </p>
        </footer>
        {% bootstrap_javascript %}
    </body>
</html>
