
<table class="table table-sm m-0 table-hover table-bordered">
    <thead class="bg-primary-500">
        <tr>
            <th>Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for id, item in cart.items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>
                {% if item.quantity != '1' %}
                <a hx-get="{% url 'sales:cart-decrement' item.id %}" hx-target="#cart-container" hx-swap="innerHTML" title="Minus"><i class="bi bi-dash-circle"></i></a>
                &nbsp;
                {% endif %}
                {{ item.quantity }}
                &nbsp;
                <a hx-get="{% url 'sales:cart-increment' item.id %}" hx-target="#cart-container" hx-swap="innerHTML" title="Plus"><i class="bi bi-plus-circle-fill"></i></a>
            </td>
            <td>{{ item.price|floatformat:2 }}</td>
            <td>{{ item.total|floatformat:2 }}</td>
            <td>
                <a hx-get="{% url 'sales:cart-delete' item.id %}" hx-target="#cart-container" hx-swap="innerHTML"><i class="bi bi-x-circle-fill"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Cart is empty</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Sub Total</td>
            <td>{{ total_qty|floatformat:2 }}</td>
            <td></td>
            <td>
                <input type="number"
                    readonly
                    name="sub_total"
                    id="sub_total"
                    min="0"
                    step="0.01"
                    class="form-control form-control-sm"
                    placeholder="0.00"
                    value="{{ total|floatformat:2 }}"
                >
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">Discount</td>
            <td>
                <input type="number"
                    name="discount_amount"
                    id="discount_amount"
                    min="0"
                    step="0.01"
                    class="form-control form-control-sm"
                    value="0"
                    placeholder="0.00">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Grand Total</td>
            <td>{{ total_qty|floatformat:2 }}</td>
            <td></td>
            <td>
                <input type="number"
                    readonly
                    name="grand_total"
                    id="grand_total"
                    class="form-control form-control-sm"
                    value="{{ total|floatformat:2 }}">
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
