{% extends "base.html" %}

{% block 'title' %}{{ title }}{% endblock 'title' %}
{% block 'content' %}
  <button class="btn btn-primary" hx-get="{% url 'sales:saleitem-add' %}" hx-target="#modal-body" data-bs-toggle="modal" data-bs-target="#saleitem-create-modal">Add Sale Item</button>
  <br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sale</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for saleitem in saleitem_list %}
      {% include 'sales/saleitem/partials/saleitem_row.html' %}
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="saleitem-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sale Item Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body"></div>
        </div>
    </div>
</div>
{% endblock 'content' %}