{% extends "base.html" %}


{% block 'title' %} {{ title }} {% endblock 'title' %}

{% block 'content' %}
{% load static %}
    <button class="btn btn-primary" hx-get="{% url 'inventory:brand-add' %}" hx-target="#modal-body" data-bs-toggle="modal" data-bs-target="#brand-create-modal">Add Brand</button>
    <br>
    <table class="table table-sm m-0">
        <thead class="bg-primary-500">
            <tr>
                <th>#</th>
                <th>Logo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="brand-body">
            {% for brand in brand_list %}
                {% include 'inventory/brand/partials/brand_row.html' %}
            {% endfor %}
        </tbody>
    </table>
    
    <div class="modal fade" id="brand-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Brand Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock 'content' %}