

<tr id="stock-movement-{{ stock_movement.id }}">
    <td>{{ stock_movement.id }}</td>
    <td>{{ stock_movement.product }}</td>
    <td>{{ stock_movement.branch }}</td>
    <td>{{ stock_movement.movement_type }}</td>
    <td>{{ stock_movement.quantity }}</td>
    <td>{{ stock_movement.reference }}</td>
    <td>{{ stock_movement.created_by }}</td>
    <td>{{ stock_movement.created_at }}</td>
    <td>
        <button hx-get="{% url 'inventory:movement-update' stock_movement.id %}" hx-target="#modal-body" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movement-create-modal">Edit</button>
        <button hx-get="{% url 'inventory:movement-delete' stock_movement.id %}" hx-target="#modal-body" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movement-create-modal">Delete</button>
    </td>
</tr>