<tr id="customer-{{ customer.id }}">
    <th scope="row">{{ customer.id }}</th>
    <td>{{ customer.name}}</td>
    <td>{{ customer.phone}}</td>
    <td>{{ customer.email}}</td>
    <td><span class='badge badge-primary'>{{ customer.is_active}}</span></td>
    <td>
        <button class="btn btn-sm btn-primary" hx-get="{% url 'customers:customer-update' customer.id %}" hx-target="#modal-body" data-bs-toggle="modal" data-bs-target="#customer-create-modal">Edit</button>
        <button class="btn btn-sm btn-primary" hx-get="{% url 'customers:customer-delete' customer.id %}" hx-target="#modal-body" data-bs-toggle="modal" data-bs-target="#customer-create-modal">Delete</button>
    </td>
</tr>