
{% for customer in customers %}
    {% with default_address=customer.addresses.all|dictsortreversed:"is_default"|first %}
    <a href="#"
       class="list-group-item list-group-item-action"
       hx-on:click="
            document.getElementById('customer-search').value='{{ customer.name|escapejs }}';
            document.getElementById('phone').value='{{ customer.phone|escapejs }}';
            document.getElementById('email').value='{{ customer.email|escapejs }}';
            document.getElementById('address').value='{{ default_address.address|default_if_none:''|escapejs }}';
            document.getElementById('search-results').innerHTML='';
       ">
        <strong>{{ customer.name }}</strong><br>
        <small>{{ customer.phone }} | {{ customer.email }}</small>
    </a>
    {% endwith %}
{% empty %}
{% endfor %}
