<form hx-post="{% if payment_method.id %} {% url 'payments:payment-method-update' payment_method.id %} {% else %} {% url 'payments:payment-method-create'%} {% endif %}"
    hx-target="{% if payment_method.id %}#payment-method-{{payment_method.id}}{% else %}#payment-method-list{% endif %}"
    hx-swap="{% if payment_method.id %}outerHTML{% else %}beforeend{% endif %}"
    enctype="multipart/form-data"
>
    {% load crispy_forms_tags %}
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Save</button>
</form>