<tr id="payment-method-{{payment_method.id}}">
    <td>{{payment_method.id}}</td>
    <td>{{payment_method.name}}</td>
    <td>{{payment_method.code}}</td>
    <td>{{payment_method.icon}}</td>
    <td>{{payment_method.is_active}}</td>
    <td>
        <button hx-get="{% url 'payments:payment-method-update' payment_method.id %}" hx-target="#modal-body" type='button' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentMethodModal">Edit</button>
        <button hx-get="{% url 'payments:payment-method-delete' payment_method.id %}" hx-target="#modal-body" type='button' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentMethodModal">Delete</button>
    </td>
</tr>