{% extends "base.html" %}

{% block 'title' %}{{ title }}{% endblock 'title' %}

{% block 'content' %}
<!-- Button trigger modal -->
<a href="{% url 'payments:refund-create' %}" type="button" class="btn btn-primary">
  Add Refund
</a><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Payment</th>
      <th scope="col">Sale</th>
      <th scope="col">Amount</th>
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
      <th scope="col">Created By</th>
      <th scope="col">Created At</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="refund-list">
    {% for refund in refund_list %}
    <tr>
      <td>{{refund.id}}</td>
      <td>{{refund.payment}}</td>
      <td>{{refund.sale}}</td>
      <td>{{refund.amount}}</td>
      <td>{{refund.reason}}</td>
      <td>{{refund.status}}</td>
      <td>{{refund.processed_by}}</td>
      <td>{{refund.created_at}}</td>
      <td>
          <a href="{% url 'payments:refund-update' refund.id %}" type='button' class="btn btn-primary">Edit</a>
          <a href="{% url 'payments:refund-delete' refund.id %}" type='button' class="btn btn-primary">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock 'content' %}