<tr id="brand-{{ brand.id }}">
    <td>{{ brand.id }}</td>
    <td>
        {% if brand.logo %}
            <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" style="width: 50px; height: auto;">
        {% endif %}
    </td>
    <td>{{ brand.name }}</td>
    <td>{{ brand.description }}</td>
    <td>{{ brand.is_active }}</td>
    <td>
        <button hx-get="{% url 'inventory:brand-update' brand.id %}" hx-target="#modal-body" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#brand-create-modal">Edit</button>
        <button hx-get="{% url 'inventory:brand-delete' brand.id %}" hx-target="#modal-body" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#brand-create-modal">Delete</button>
    </td>
</tr>