<tr id="payment-{{payment.id}}">
    <td>{{payment.id}}</td>
    <td>{{payment.sale}}</td>
    <td>{{payment.method}}</td>
    <td>{{payment.amount}}</td>
    <td>{{payment.status}}</td>
    <td>{{payment.processed_by}}</td>
    <td>{{payment.created_at}}</td>
    <td>
        <button hx-get="{% url 'payments:payment-update' payment.id %}" hx-target="#modal-body" type='button' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal">Edit</button>
        <button hx-get="{% url 'payments:payment-delete' payment.id %}" hx-target="#modal-body" type='button' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal">Delete</button>
    </td>
</tr>